/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 400;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);
}

.btn {
  font-size: 18px;
  color: #2e2f42;
  padding: 10px 30px;
    cursor: pointer;
    width: 50px;
  height: 20px;
}
/* 1-gallery */
.gallery-image {
  width: 360px;
  height: 200px;
  transition: all ease-in 250ms;}

  .gallery {
    margin-top: 24px;
    margin-bottom: 24px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    gap: 24px;
  }

  .gallery-image:hover {
    width: 376px;
    height: 208px;
  }
  
 .sl-image img {
    width: 1112px;
    height: 640px;
  }

 .simple-lightbox {
  background-color: rgb(46,47,66,80%);
 }

/* 2-Form */
.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

[name='email'] {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 3.5px;
  padding: 8px 16px;
  font-weight: 400;
font-size: 16px;
}

[name='email']:focus-within {
  border: 1px solid black;
}

[name='message'] {
  width: 360px;
  height: 80px;
  border: 1px solid #808080;
  border-radius: 3.5px;
  margin-bottom: 16px;
  padding: 8px 16px;
font-size: 16px;
  resize: none;
}

button[type='submit'] {
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  color: #fff;
font-weight: 500;
font-size: 16px;
  transition: all ease-in-out 250ms;
}

button[type='submit']:hover,
button[type='submit']:focus {
  background: #6c8cff;
}